<?xml version='1.0'?>
<sdf version='1.5'>
  <model name='gardener_drone'>
    <pose>0 0 0.1 0 0 0</pose>

    <include>
      <uri>model://iris</uri>
    </include>

    <!--px4flow camera-->
    <include>
      <uri>model://px4flow</uri>
      <pose>0.05 0 -0.05 0 0 0</pose>
    </include>

    <joint name="px4flow_joint" type="revolute">
      <parent>iris::base_link</parent>
      <child>px4flow::link</child>
      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <upper>0</upper>
          <lower>0</lower>
        </limit>
      </axis>
    </joint>

    <!--lidar-->
    <include>
      <uri>model://lidar</uri>
      <pose>0 0 -0.05 0 0 0</pose>
    </include>

    <joint name="lidar_joint" type="fixed">
      <parent>iris::base_link</parent>
      <child>lidar::link</child>
    </joint>

    <!-- realsense -->
    <include>
      <uri>model://gardener_realsense_ros</uri>
      <pose>0.09 0 0.03 0 0 0</pose>
    </include>
    <joint name="gardener_realsense_ros_joint" type="fixed">
      <parent>iris::base_link</parent>
      <child>gardener_realsense_ros::link</child>
    </joint>

  </model>
</sdf>
